
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F3E7;
    font-family: 'Poppins', sans-serif;
}
@font-face {
    font-family: 'MomoSignature';
    src: url('fonts/MomoSignature-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.location
{
    background-color:#D4AF37;
    margin-right:900px ;
    margin-top: 12.5px;
    font-size: 12.5px;

}


.header {
    background-color: #D4AF37; 
    padding: 15px 20px;
    margin: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.header h1 {
    font-family: 'MomoSignature','cursive';
    background-color: transparent; 
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-weight: 700;
    
   
}


.buttonLog {
    background-color: transparent;
}

.buttonLog input {
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    background-color: white;
    color: #D4AF37;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 10px;
}

.buttonLog input:hover {
    background-color: #FCF3D5;
    color: white;
}
.offers-container
{
    background-color: #F2D77B;
    border-radius: 3px;
    margin: 5px;
    margin-bottom: 10px;
    padding-top: 200px
    
}
.items-container
{
    background-color: #F2D77B;
   
    padding-top: 50px;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 30px;
  padding: 60px 30px;
  background-color:#F2D77B ;
  justify-items: center;
  align-items: center;
   border-radius: 3px;
margin: 4px;
padding-bottom: 107.5PX;
    
}


.category-item {
  width: 130px;                 
  height: 160px;              
  text-align: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.category-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;         
  margin-bottom: 10px;
}

.category-item p {
  font-weight: 600;
  color: var(--text-color);
  font-size: 0.9rem;
  text-align: center;
  margin-top: 5px;
}


.category-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(212, 175, 55, 0.4);
}
